@{
    ViewData["Title"] = "Оплата";
}

<div class="bxr-content tb20-bottom">
	<div class="container ">
		<div class="row">
			<div class="col-xs-12">
				<h3><b><span style="color: #ee1d24;">ВНИМАНИЕ!</span></b> <b>Уважаемые покупатели, в связи со сложившейся ситуацией в стране и в условиях нестабильного курса доллара, цены на сайте могут быть меняться.</b></h3>
				<h2>Способы оплаты</h2>
				<b>
					Оплатить согласованный заказ можно одним из следующих способов:<br>
				</b><br>
				<div>
					<b>1) Оплата наличными или банковской картой в офисе магазина.</b><br>
					Принимаем к оплате следующие карты:&nbsp;<img width="221" alt="банковские карты - копия.png" src="/images/payment.jpg" height="45" title="банковские карты - копия.png">&nbsp;<br>
					<b>2) Оплата по квитанции/счету через банк.</b> При этом способе оплаты после согласования заказа, оператор вышлет квитанцию/счет на адрес вашей электронной почты.&nbsp;<br>
					<br>
					<b>3) Оплата в рассрочку от 4 до 12 месяцев по карте Халва&nbsp;</b><br>
					<br>
					<img width="210" alt="Preview_474х228_card_2.png" src="/images/payment1.jpg" height="150" title="Preview_474х228_card_2.png"><sub></sub><sup></sup><br>
					
				</div>
			</div>
		</div>
	</div>
</div>