@{
    ViewData["Title"] = "Как оформить заказ?";
}
<div class="col-xs-12">
	<img width="500" alt="как оформить заказ.jpg" src="/images/order.jpg" height="335" title="как оформить заказ.jpg" align="middle"><br>
	<h3>
		Оформить заказ Вы можете одним из следующих способов: <br>
	</h3>
	<ol>
		<li>Оформить заказ, указать ваши ФИО,телефон и заказать.После чего наш специалист свяжиться с вами и проконсультирует по наличию товара на складе и уточнит детали заказа.</li>
		<li>Вы можете сделать запрос на нашу электронную почту&nbsp;<noindex><a target="_blank">inva_kol@mail.ru или wheelcahir@gmail.com</a></noindex>&nbsp;и мы сразу же Вам ответим.</li>
		<li>Вы можете самостоятельно позвонить на этот номер: 8 (029) 356-29-44, &nbsp;а также написать нам в <b>Viber</b> или&nbsp;<b>WhatsApp</b> или&nbsp;<b>Telegram</b> или&nbsp;<b>VK</b> или&nbsp;<b>Instagram</b> по любому интересующему Вас вопросу. Мы всегда на связи и готовы Вам помочь.</li>
	</ol>
</div>