@{
    ViewData["Title"] = "Доставка";
}

<div class="col-xs-12">
	<h3>Условия доставки товаров</h3>
	Доставка по Минску в пределах МКАД&nbsp;при заказе от 600 y.e. бесплатная.<br>
	Доставка за пределы МКАД и по Минской области&nbsp;рассчитывается индивидуально исходя из удаленности, веса и габаритов изделия.<br>
	<ul>
	</ul>
	Доставка в регионы осуществляется через транспортные компании:&nbsp;<b>DPD&nbsp;,&nbsp;</b><b>Деловые Линии,</b><b>&nbsp;ПЭК,&nbsp;</b><b>
		СДЭК.<br>
		&nbsp;<img width="290" alt="способы доставки.png" src="~/images/imageDelivery.jpg" height="138" title="способы доставки.png">
	</b><br>
	<ul>
	</ul>
	<h4>
		<p>
			Сроки и время доставки:
		</p>
	</h4>
	<div>
		<b>Доставка товаров производится:</b><br>
		<ul>
			<li><b>в </b><b>будни:</b> с 09.00 до 19.00;</li>
			<li><b>в выходные дни:</b>&nbsp;не работает</li>
		</ul>
	</div>
	<span class="kesednsoled"></span>

	<div class="ico-wrap">
		<i class="fa fa-clock-o ico-contact"></i>
	</div>
	<div class="meanous-andscoev">
		<h4 icon="title" class="alert-info">График работы самовывоза:</h4>
		<div class="aio-icon-description">
			пн.-сб. с 10:00 до 21:00, с перерывом на обед 13:00 до 14:00
			<br>вс. с 11:00 до 18:00
			<br>Без выходных
		</div>
	</div>
</div>